{{define "searchBar"}}
<!DOCTYPE html>
<head>
    <link rel="icon" type="image/x-icon" href="/pictures/favicon.png">
    <link rel="stylesheet" href="/styles/searchResultStyles.css">
    <link rel="stylesheet" href="/styles/titlebarStyles.css">
    <link rel="stylesheet" href="/styles/searchPageStyles.css">
    <link rel="stylesheet" href="/styles/popup.css">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Home</title>
</head>
<body>
    {{if .OAuthPopup}}
    <div class="popupBackground" id="popupBackground">
        <div class="popup" id="popup">
            <h1>Cliquez ici pour vous authentifier</h1>
            <a href="{{.OAuthLink}}"><button type="popupButton" class="popupButton">S'authentifier</button></a>
        </div>
    </div>
    {{end}}
    <div class="titleBar">
        <div class="titlebarButtonsContainer">
            <button class="titlebarButton" id="titleBar_Index" onclick="window.location.href='/'">Accueil</button>
            <button class="titlebarButton" id="titleBar_resultMgmt" onclick="window.location.href='/favorites'">Favoris</button>
        </div>

        <img src="/pictures/logo.png" alt="Logo">
        
        <div class="titlebarRightButtonsContainer">
            <button class="titlebarButton" id="titleBar_About" onclick="window.location.href='/about'">À propos</button>
        </div>
    </div>

    <div class="search-container">
        <form class="search-form" action="/search" method="GET">
            <div class="search-box">
                <input type="text" name="q" class="search-input" placeholder="Rechercher un master / album / artiste...">
                <button type="submit" class="search-button">
                    <svg viewBox="0 0 24 24" width="24" height="24">
                        <path fill="#666" d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>
                    </svg>
                </button>
            </div>
        </form>
    </div>
</body>
</html>
{{end}}